
@media (max-width: 1000px) {
    .centerRestore {
        display: flex;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        width: 85vw;
        margin: auto;
        margin-top: 10vh;
    }
        
}

@media (min-width: 1001px) {
    .centerRestore {
        display: flex;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        width: 40vw;
        margin: auto;
        margin-top: 10vh;
    }
        
}

h3 {
    width: 90vw;
    text-align: center;
}

.horizontalGroup{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}