.buttonStyle {
    border-radius: 5px;
    border-color: palevioletred;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 200px;
    text-align: center;
    text-justify: auto;

    &:hover {
        cursor: pointer;
        color: white;
        background-color: palevioletred;
        transition: all 0.2s ease-in;
    }
}

.modalOrder {
    margin: 3%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
