.center {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.centerGroup {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    flex-direction: column;
    justify-content: center;

    .react-datepicker-wrapper {
        width: -webkit-fill-available;
    }
}

.centerType {
    display: flex;
    align-items: center;
    justify-content: center;
}

.datePickerStyle > .react-datepicker-wrapper{

    width: max-content;
    width: -moz-available;
}

.datePickerStyle {

    width: max-content !important;
    width: -moz-available !important;
}